{% extends "base.html" %}

{% block content %}

    <!-- Hero Section -->
    <section class="hero-section" >
        <div class="container text-center py-5">
            <h1>Welcome to Bitwain</h1>
            <p> Like a Wain carrying bits, we are a general purpose Software and Media Company that can serve various industries across software disciplines.</p>
            <br>
            <p>Technology and Media</p>
            <p> GeoSpatial Analytics, Reference Databases and APIs</p>
            <button class="btn btn-primary">Learn More</button>
        </div>
    </section>

    <!-- Services Section -->
    <section class="services-section bg-light py-5" id="service">
        <div class="container">
            <h2 class="text-center">Our Services</h2>
            <br>
            <div class="row">
                <!-- Service Item -->
                <div class="col-md-4 text-center">
                    <h3>GeoSpatial Analytics</h3>
                    <p>We offer high performance turnkey Web Applications and APIs that offer reach functionality over popular mapping GIS libraries and frameworks</p>
                </div>
                <!-- Service Item -->
                <div class="col-md-4 text-center">
                    <h3>Managed CRM</h3>
                    <p>We offer powerful CRM focussed platforms to build and run </p>
                </div>
                <!-- Service Item -->
                <div class="col-md-4 text-center">
                    <h3>Technology focussed Media</h3>
                    <p>We host and support media ventures across technology and other domains.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="about-section py-5" id="about">
        <div class="container">
            <h2 class="text-center">About Us</h2>
            <p class="text-center">We are a company of software engineers based out of Connecticut.
                <br>We help take ideas from prototypes to production</p>
        </div>
    </section>

{% endblock content %}
